* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

html,body {
  height: 100%;
  width: 100%;
 
}
.card{
  background-color: pink;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}


.nav{
  background-color: blue;
  margin: 5px;
  padding: 20px;
}