.head{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 7px;
}

.btn{
    background-color: crimson;
    padding: 5px;
}
.logo{
    text-decoration: underline;
}